.container {
    height: 40px;
  }
  
  .navbar {
    position: fixed;
    width: 100vw;
    background-color: #18181b;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    height: 50px;
    color: #fff;
    align-items: center;
    box-shadow: 1px 2px 3px black;
    z-index: 1;
  }
  .input {
    width: 360px;
    height: 35px;
    border: none;
    outline: none;
    background-color: hsl(240deg 2% 28%);
    color: #efeff1;
    font-size: 18px;
    border-radius: 8px 0px 0 8px;
    padding: 10px;
  }
  .input::placeholder {
    color: #d7d7dc;
  }
  .button {
    height: 35px;
    border-radius: 0 8px 8px 0;
    border: none;
    border-left: 1px solid #18181b;
    outline: none;
    background-color: rgb(60, 60, 62);
    cursor: pointer;
  }


  .search {
    margin: auto;
    display: flex;
  }
  
  .start {
    display: flex;
    flex-direction: start;
  }
  .browse {
    padding-left: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    
  }
  .browse:hover {
    color: #bf94ff
  }
 
  .twitch {
    background-color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 36px;
    cursor: pointer;
  }
  
  .user {
      display: flex;
      flex-direction: end;
      margin-left: 90px;
      background-color: #9146ff;
      border-radius: 50%;
      width: 35px;
      height: 36px;
      margin-right: 20px;
    }
    .user:hover {
        cursor: pointer;
    }